{% extends 'base.html' %}
{% block body %}
<h2>{{ the_title }}</h2>
<form action='/searchvdot' method='POST'>
    <p>
        Дистанция:<br>
        <input type="radio" name='s' value='5km'>5 км<br>
        <input type="radio" name='s' value='10km'>10 км<br>
    </p>
    <table>
        <caption>Время прохождения дистанции</caption>
        <tr>
            <th>Часы</th>
            <th>Минуты</th>
            <th>Секунды</th>
        </tr>
        <tr>
            <td><input type='number' name='hr' min='0'></td>
            <td><input type='number' name='mt' min='0'</td>
            <td><input type='number' name='sc' min='0' max='60'></td>
        </tr>
    </table>
    <p><input type='submit' value='OK'></p>
</form>
{% endblock %}
